main {
    display: flex;
    margin: 30px;
    flex-direction: column;
    background-color: navy;
    width: 80%;
    height: 80vh;
    /* gap: 10px; */
}
header {
    margin: 10px;
    background-color: skyblue;
    height: 10vh;
}
div {
    display: flex;
    gap: 10px;
}
div section {
    background-color: violet;
    width: 70%;
    height: 60vh;
    margin: 0 0 0 10px;
    /* height: calc(100% - 200px); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
div section article {
    margin-left: 20px;
    width: 80%;
    height: 100px;
    background-color: coral;
}
div aside {
    background-color: greenyellow;
    width: 30%;
    margin: 0 10px 0 0;
}
footer {
    background-color: salmon;
    height: 10vh;
    margin: 10px;
}
